.vscode
datasets
wandb
**/__pycache__/
nohup.out
logs
local_analysis
outputs
*.pth
*.npz
baselines/SAFE/SAFE.py
checkpoints
scalers
data/NF-UNSW-NB15-v3/NF-UNSW-NB15-v3.csv
data/pyg_graph_data/NF-UNSW-NB15-v3/test.pt
data/pyg_graph_data/NF-UNSW-NB15-v3/train.pt
data/pyg_graph_data/NF-UNSW-NB15-v3/val.pt
